.coda-timeline {
    border-left: 10px dotted grey;
    box-sizing: border-box;
    height: calc(100% -130px);
    width: 10px;
}

.day-circle {
    background-color: rgb(252, 171, 22);
    border-radius: 50%;
    width: 80px !important;
    height: 80px !important;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activity-circle {
    background-color: #b0dbed;
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
    color: rgb(137, 169, 184);
    display: flex;
    justify-content: center;
    align-items: center;
}

.transport-circle {
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .coda-timeline {
        border-left: 4px dotted grey;
        width: 4px;
    }
    .day-circle {
        width: 35px !important;
        height: 35px !important;
    }
    .activity-circle {
        width: 20px !important;
        height: 20px !important;
    }
    .transport-circle {
        width: 20px !important;
        height: 20px !important;
        padding: 2px !important;
    }
}